<!doctype html>
<head>
<title>Hardknocks Agency</title>
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<!-- Load main style sheets -->
<link rel="stylesheet" href="styles.css" />

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<!-- Default stylesheets for the slider -->
<link rel="stylesheet" href="nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slider/themes/pascal/pascal.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slider/themes/orman/orman.css" type="text/css" media="screen" />

<!-- load Javascript and Jquery -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.nivo.slider.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/background-image.js"></script>
<script type="text/javascript" src="js/filter-gallery.js"></script>


<!-- Nivo Slider -->
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

<!-- PrettyPhoto Jquery Gallery -->
    <script type="text/javascript">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<!-- Fullsscreen Background -->
<script type="text/javascript">
      jQuery(document).ready(function($) {
        var background = new Easy_Background({
          background_color: "none",
          pattern: "img/patterns/pattern-1.png",
          autoplay: "true",
          autoplayTime: 5,
          
         images:["img/fullscreen/stare.jpg",
          			"img/fullscreen/water-studio.JPG",
					"img/fullscreen/ginger.jpg",
					"img/fullscreen/couch.JPG",
					"img/fullscreen/kruip.jpg",
					"img/fullscreen/leg.jpg",
					"img/fullscreen/moeg.jpg",
					"img/fullscreen/tired.jpg",
					"img/fullscreen/veld.jpg",
					"img/fullscreen/glasses.jpg",
					"img/fullscreen/vlinder.jpg"],
          images_sizing: "fill", // fill || adjust || stretch || repeat
          
          animationIn: { attribute:["y", "alpha"], // x || y || alpha 
                value:  ["1px", 0],
                easing: ["easeOutCubic", "swing"],
                time: [0.7, 1.5],
                delay:  0 },
          animationOut: { attribute:[],
                 value:   [],
                 easing:  [],
                 time:  [],
                 delay: 0 }
        });
        $('body').click(background.next);
      });
    </script>

</head>
<body>
	<!-- Start container -->
<div id="container">
	<!-- Side view contains the Logo and header section -->
	<div class="sideview">
		<div class="logo">
			<a href="index.html"><img src="img/layout/logo.png" width="250" height="146" alt="Logo" /></a>
		</div><!-- end logo -->
		<!-- Start menu -->
		<div class="menu">
			<ul class="nav">
				<li><a href="index.html">Home<span class="desc">Back to the home page</span></a></li>
				<li class="dropdown"><a href="#">Features<span class="desc">Layouts</span></a>
					<ul>
						<li><a href="../background-image/index.html">Fullscreen Image Background</a></li>
						<li><a href="../background-video/index.html">Fullscreen Video Background</a></li>
						<li><a href="../background-plain/index.html">Plain Background</a></li>
					</ul>
				</li>
				<li><a href="about.html">About<span class="desc">Meet the team</span></a></li>
				<li class="dropdown"><a href="3-column.html">Our Work<span class="desc">Clients and projects</span></a>
					<ul>
						<li><a href="1-column.html">1 Column Gallery</a></li>
						<li><a href="3-column.html">3 Column Gallery</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="blog.html">Blog<span class="desc">Catch up on some news</span></a>
					<ul>
						<li><a href="single-blog.html">Single Blog Page</a></li>
					</ul>
				</li>
				<li><a href="contact.html" class="last">Contact us<span class="desc">Get in touch</span></a></li>
			</ul>
		</div><!-- end menu -->
	</div><!-- end sideview -->
<!-- Start Content -->
	<div class="content cf">
		<div class="grid-1 cf">
			<h1>1 Column Gallery</h1>
			<p><strong>Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar. Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar.</strong></p>
			<ul id="filter">
				<li class="current"><a href="#">All</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Photography</a></li>
				<li><a href="#">Development</a></li>
				<li><a href="#">Services</a></li>
			</ul>
		</div>
		<div class="gallery">
			<ul id="portfolio-one">
				<li class="development design">
				<h2>Glass Shot</h2>
				<a href="img/gallery00-large.png" rel="prettyPhoto" alt="Preview"><img src="img/large-preview.png" alt="" height="483" width="730" /></a>
				<div class="project-desc">
					<strong>Project Description</strong>
					<p>Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar.</p>
				</div>
				</li>

				<li class="development photography">
				<h2>Fire Projection</h2>
				<a href="img/gallery00-large.png" rel="prettyPhoto" alt="Preview"><img src="img/large-preview2.png" alt="" height="483" width="730" /></a>
				<div class="project-desc">
					<strong>Project Description</strong>
					<p>Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar.</p>
				</div>
				</li>

				<li class="photography design">
				<h2>Couch Photography</h2>
				<a href="img/gallery00-large.png" rel="prettyPhoto" alt="Preview"><img src="img/large-preview3.png" alt="" height="483" width="730" /></a>
				<div class="project-desc">
					<strong>Project Description</strong>
					<p>Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar.</p>
				</div>
				</li>

				<li class="design services">
				<h2>Another Project</h2>
				<a href="img/gallery00-large.png" rel="prettyPhoto" alt="Preview"><img src="img/large-preview4.png" alt="" height="483" width="730" /></a>
				<div class="project-desc">
					<strong>Project Description</strong>
					<p>Lorem ipsumia dolor sit ametis and the consectetur adipisicing elit, sed dos eiusmod tempor incididunt uno labores set dolore magna an sofar.</p>
				</div>
				</li>

			</ul>
			</div>
		</div><!-- end grid-1 -->
</div><!-- end content -->
<!-- end container -->

<!-- Start footer -->
<div id="footer" class="clearfix cf">
	<p>Hardknocks 2013 &copy;</p>
	<ul class="clean">
		<li><a href="#"><img src="img/layout/rss.png" width="25" height="18" alt="Rss Feed" /></a></li>
		<li><a href="#"><img src="img/layout/twitter.png" width="25" height="18" alt="Twitter" /></a></li>
		<li><a href="#"><img src="img/layout/dribbble.png" width="25" height="18" alt="Dribbble" /></a></li>
		<li><a href="#"><img src="img/layout/facebook.png" width="8" height="18" alt="Facebook" /></a></li>
	</ul>
</div><!-- end footer -->

</body>
</html>
