{% extends 'base.html' %}
{% block title %}
 关于我们
{% endblock %}
{% block head %}
{% endblock %}
{% block MainContainer %}
	<div class="content about cf">
		<div class="grid-1 the-team">
			<h1>弟归</h1>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        团队介绍
        </div>
        <a class="ui basic red left pointing label">
        北京航空航天大学计算机学院软件工程实验课程团队，ApacheAssistant开发团队
        </a>
        </div>
        <div class="ui divider"></div>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        项目经理
        </div>
        <a class="ui basic red left pointing label">
        王嘉凯
        </a>
        </div>
        <div class="ui divider"></div>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        后端开发工程师
        </div>
        <a class="ui basic red left pointing label">
        姬索肇
        </a>
        <a class="ui basic red left pointing label">
        韩慧敏
        </a>
        <a class="ui basic red left pointing label">
        王嘉凯
        </a>
        </div>
        <div class="ui divider"></div>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        前端开发工程师
        </div>
        <a class="ui basic red left pointing label">
        王嘉凯
        </a>
        <a class="ui basic red left pointing label">
        王宁
        </a>
        <a class="ui basic red left pointing label">
        叶俊辰
        </a>
        </div>
        <div class="ui divider"></div>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        测试工程师
        </div>
        <a class="ui basic red left pointing label">
        王宁
        </a>
        <a class="ui basic red left pointing label">
        韩慧敏
        </a>
        </div>
        <div class="ui divider"></div>
        <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
        运维工程师
        </div>
        <a class="ui basic red left pointing label">
        姬索肇
        </a>
        <a class="ui basic red left pointing label">
        叶俊辰
        </a>
        </div>
		</div><!-- end grid-1 -->
	</div><!-- end content -->
{% endblock %}
