{% extends 'base.html' %}
{% block title %}
 配置管理
{% endblock %}
{% block MainContainer %}
    <div class="content cf">
		<div class="grid-1 cf">
			<h1>配置管理</h1>
			<p><strong>您可以在此查看当前配置文件路径、管理配置文件路径、读取配置信息和修改配置信息</strong></p>
		</div>
		<div class="gallery">
			<ul id="portfolio-one">
				<li class="development design">
				<h2 class="ui center aligned icon header">
                    <i class="mini settings icon"></i>
                      原配置文件路径
                </h2>
                    <p align="center">
                    路径
                    </p>
				</li>

				<li class="development photography">
				<h2>修改配置文件路径</h2>
                    <div class="ui fluid action input">
                        <input type="text" placeholder="Search...">
                        <button class="ui button"><i class="large folder open outline icon"></i></button>
                        &nbsp;
                        <button class="ui button">修改</button>
                    </div>
				</li>

				<li class="photography design">
				<h2>当前配置文件信息</h2>

				<div class="project-desc">
					<strong>放置当前配置文件信息</strong>
					<p>施工中。。。</p>
				</div>
				</li>

				<li class="design services">
				<h2>修改配置文件信息</h2>

				<div class="project-desc">
					<strong>放置配置文件修改项，ul+li+box+button</strong>
					<p>施工中</p>
				</div>
				</li>

			</ul>
			</div>
	</div><!-- end content -->
{% endblock %}
