{% extends 'base.html' %}
{% block title %}
 配置管理
{% endblock %}
{% block head %}
{% endblock %}
{% block MainContainer %}
    <div class="content cf">
		<div class="grid-1 cf">
			<h1>配置管理</h1>
			<p><strong>您可以在此查看当前配置文件路径、管理配置文件路径、读取配置信息和修改配置信息</strong></p>
		</div>
		<div class="gallery">
			<ul id="portfolio-one">
				<li class="development design">
				<h2 class="ui left aligned icon header">原配置文件路径</h2>
        <div class="ui left labeled button " >
          <a class="ui basic right label">
          路径内容，使用js读取后端实时返回内容
          </a>
          <div class="ui button">
            <i class="sync icon"></i> 刷新
          </div>
        </div>
				</li>

				<li class="development photography">
				<h2>修改配置文件路径</h2>
        <div class="ui fluid action input">
            <input type="text" placeholder="默认路径">
                <button class="ui button"><i class="large folder open outline icon"></i></button>
                        &nbsp;
                <button class="ui button">修改</button>
                </div>
				</li>

				<li class="photography design">
				<h2>当前配置文件信息</h2>

				<div >
          <div class="ui grid">
            <div class="twelve wide column">

            </div>


          </div>
          <div class="ui segment">
              <div class="ui fluid action input">
                <a class="ui basic right label">
                路径内容，使用js读取后端实时返回内容
                </a>
                <div class="ui button">
                  <i class="sync icon"></i> 刷新
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="ui fluid action input">
                <a class="ui basic right label">
                路径内容，使用js读取后端实时返回内容
                </a>
                <div class="ui button">
                  <i class="sync icon"></i> 刷新
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="ui fluid action input">
                <a class="ui basic right label">
                路径内容，使用js读取后端实时返回内容
                </a>
                <div class="ui button">
                  <i class="sync icon"></i> 刷新
                </div>
              </div>
          </div>
        </div>

				</li>

				<li class="design services">
				<h2>修改配置文件信息</h2>
        <div class="ui segment">
            <div class="ui fluid action input">
              <input type="text" placeholder="配置项1">
              <div class="ui button">修改</div>
            </div>
            <div class="ui divider"></div>
            <div class="ui fluid action input">
              <input type="text" placeholder="配置项2">
              <div class="ui button">修改</div>
            </div>
            <div class="ui divider"></div>
            <div class="ui fluid action input">
              <input type="text" placeholder="配置项3">
              <div class="ui button">修改</div>
            </div>
        </div>
				</li>

			</ul>
			</div>
	</div><!-- end content -->
{% endblock %}
