{% extends 'base.html' %}
{% block title %}
性能监控
{% endblock %}
{% block head %}
{% endblock %}
{% block MainContainer %}
<!-- Start Content -->
	<div class="content cf">
    <div class="grid-1 cf">
			<h1>性能监控</h1>
			<p><strong>您可以在此查看Apache服务器的相关性能参数，以便于您更好地掌握本地服务器状态</strong></p>
			<!--<ul id="filter">-->
				<!--<li class="current"><a href="#">All</a></li>-->
				<!--<li><a href="#">Design</a></li>-->
				<!--<li><a href="#">Photography</a></li>-->
				<!--<li><a href="#">Development</a></li>-->
				<!--<li><a href="#">Services</a></li>-->
			<!--</ul>-->
		</div>
		<div class="gallery">
			<ul id="portfolio-one">
				<li class="development design">
				<h2>查看Apache状态</h2>
				<div class="ui segment">
					<a class="ui basic right label">当前Apache服务器的状态为：</a>
					<button class="positive ui button">Running</button>
				</div>
				</li>

				<li class="development photography">
				<h2>改变Apache状态</h2>
				<div class="ui segment">
					<button class="positive ui button">运行/停止</button>
					<button class="positive ui button">重启</button>
				</div>
				</li>

				<li class="photography design">
				<h2>查看性能参数</h2>

				<div class="ui segment">
					<a class="ui basic right label">网络速度监控</a>
					<div class="echarts" id="netSpeedChart">

					</div>
				</div>
				<div class="ui divider"></div>
				<div class="ui segment">
					<a class="ui basic right label">CPU占用率监控</a>
					<div class="echarts" id="CPUOccupied">

					</div>
				</div>
				<div class="ui divider"></div>
				<div class="ui segment">
					<a class="ui basic right label">内存占用率监控</a>
					<div class="echarts" id="RAMOccupied">

					</div>
				</div>
				</li>
			</ul>
			</div>
		</div><!-- end grid-1 -->
		<script type="text/javascript">
			$.get('url', function (data) {
				var speedChart = echarts.init(document.getElementById('netSpeedChart'));
				speedChart.setOption(option = {
	        title: {
	            text: 'Beijing AQI'
	        },
	        tooltip: {
	            trigger: 'axis'
	        },
	        xAxis: {
	            data: data.map(function (item) {
	                return item[0];
	            })
	        },
	        yAxis: {
	            splitLine: {
	                show: false
	            }
	        },
	        toolbox: {
	            left: 'center',
	            feature: {
	                dataZoom: {
	                    yAxisIndex: 'none'
	                },
	                restore: {},
	                saveAsImage: {}
	            }
	        },
	        dataZoom: [{
	            startValue: '2014-06-01'
	        }, {
	            type: 'inside'
	        }],
	        visualMap: {
	            top: 10,
	            right: 10,
	            pieces: [{
	                gt: 0,
	                lte: 50,
	                color: '#096'
	            }, {
	                gt: 50,
	                lte: 100,
	                color: '#ffde33'
	            }, {
	                gt: 100,
	                lte: 150,
	                color: '#ff9933'
	            }, {
	                gt: 150,
	                lte: 200,
	                color: '#cc0033'
	            }, {
	                gt: 200,
	                lte: 300,
	                color: '#660099'
	            }, {
	                gt: 300,
	                color: '#7e0023'
	            }],
	            outOfRange: {
	                color: '#999'
	            }
	        },
	        series: {
	            name: 'Beijing AQI',
	            type: 'line',
	            data: data.map(function (item) {
	                return item[1];
	            }),
	            markLine: {
	                silent: true,
	                data: [{
	                    yAxis: 50
	                }, {
	                    yAxis: 100
	                }, {
	                    yAxis: 150
	                }, {
	                    yAxis: 200
	                }, {
	                    yAxis: 300
	                }]
	            }
	        }
	    });
			});
			$.get('url', function(data) {
				var cpuChart = echarts.init(document.getElementById('CPUOccupied'));
    		cpuOption = {
        	legend: {},
        	tooltip: {
            trigger: 'axis',
            showContent: false
        	},
        	dataset: {
            source: [
                ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
                ['Matcha Latte', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                ['Milk Tea', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                ['Walnut Brownie', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1]
            ]
        	},
        	xAxis: {type: 'category'},
        	yAxis: {gridIndex: 0},
        	grid: {top: '55%'},
        	series: [
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {
                type: 'pie',
                id: 'pie',
                radius: '30%',
                center: ['50%', '25%'],
                label: {
                    formatter: '{b}: {@2012} ({d}%)'
                },
                encode: {
                    itemName: 'product',
                    value: '2012',
                    tooltip: '2012'
                }
            }
        	]
    		};

    		cpuChart.on('updateAxisPointer', function (event) {
        	var xAxisInfo = event.axesInfo[0];
        	if (xAxisInfo) {
            	var dimension = xAxisInfo.value + 1;
            	cpuChart.setOption({
                	series: {
                    	id: 'pie',
                    	label: {
                        	formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                    	},
                    	encode: {
                        	value: dimension,
                        	tooltip: dimension
                    	}
                	}
            	});
        		}
    		});

    		cpuChart.setOption(cpuOption);
			});
			$.get('url',function(data){
				var ramChart = echarts.init(document.getElementById('RAMOccupied'));
    		ramOption = {
        	legend: {},
        	tooltip: {
            trigger: 'axis',
            showContent: false
        	},
        	dataset: {
            source: [
                ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
                ['Matcha Latte', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                ['Milk Tea', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                ['Walnut Brownie', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1]
            ]
        	},
        	xAxis: {type: 'category'},
        	yAxis: {gridIndex: 0},
        	grid: {top: '55%'},
        	series: [
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},


						{type: 'pie',	 id: 'pie',	radius: '30%', center: ['50%', '25%'],
                label: {
                    formatter: '{b}: {@2012} ({d}%)'
                },
                encode: {
                    itemName: 'product',
                    value: '2012',
                    tooltip: '2012'
                }
            }]
    		};

    		ramChart.on('updateAxisPointer', function (event) {
        	var xAxisInfo = event.axesInfo[0];
        	if (xAxisInfo) {
            	var dimension = xAxisInfo.value + 1;
            	ramChart.setOption({
                	series: {
                    	id: 'pie',
                    	label: {
                        	formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                    	},
                    	encode: {
                        	value: dimension,
                        	tooltip: dimension
                    	}
                	}
            	});
        		}
    		});

    		ramChart.setOption(ramOption);
			});
		</script>
{% endblock %}
