{% extends 'base.html' %}
{% block title %}
    模块管理
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/jqueryPagination/css/jquery.pagination.css"/>
    <script type="text/javascript" src="../static/jqueryPagination/js/jquery.pagination.min.js"></script>
    <script>
        let install = [];
        let allmodules = [];

        function InstallClick(element, params){
       /*     element.innerHTML = "已卸载";
            $(element).removeAttr("onclick");
            $(element).addClass("disabled");*/
            alert(install[params]['name']+'已卸载');
            $.ajax({
                type: "post",
                url: "/api/remove_module/",
                data: JSON.stringify({'name': install[params]["name"]}),
                dataType: "json",
                contentType: "application/json;charest = utf-8",
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    alert(data.responseJSON['error'])
                }
            })
            window.location.reload();
        }
        function AllinClick(element, params){
          /*  element.innerHTML = "已安装";
            $(element).removeAttr("onclick");
            $(element).addClass("disabled");*/
          alert(allmodules[params]['name']+'已安装');
            console.log(allmodules[params]['name']);
            $.ajax({
                type: "post",
                url: "/api/install_module/",
                data: JSON.stringify({'name': allmodules[params]["name"]}),
                dataType: "json",
                contentType: "application/json;charest = utf-8",
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    alert(data.responseJSON['error'])
                }
            })
            window.location.reload();
        }
        function AllunClick(element, params){
           /* element.innerHTML = "已卸载";
            $(element).removeAttr("onclick");
            $(element).addClass("disabled");*/
            alert(allmodules[params]['name']+'已卸载');
            $.ajax({
                type: "post",
                url: "/api/remove_module/",
                data: JSON.stringify({'name': allmodules[params]["name"]}),
                dataType: "json",
                contentType: "application/json;charest = utf-8",
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    alert(data.responseJSON['error'])
                }
            })
            window.location.reload();
        }

        $(function () {
            let total;
            let all;
            $.ajax({
                    type: "GET",
                    url: "/api/modules_list/",
                    success: function (data) {
                        /*初始化install 和 allmodules*/
                        let i = 0;
                        let j = 0;
                        let staticlist = data['static_list'];
                        for (let c of staticlist) {
                            install[i] = c;
                            allmodules[j] = c;
                            i++;
                            j++;
                        }
                        let sharedlist = data['shared_list'];
                        for (let c of sharedlist) {
                            if (c['status'] === "installed") {
                                install[i] = c;
                                i++;
                            }
                            allmodules[j] = c;
                            j++;
                        }
                        console.log(sharedlist);
                        console.log(staticlist);
                        total = install.length;
                        let totalpage = Math.ceil(total / 5);
                        /*已安装模块部分*/
                        i = 0;
                        let html = '';
                        while (i < total && i < 5) {
                            if (!install[i].hasOwnProperty("status"))
                                html += '<div class="item"><button class="right floated ui disabled button">不可卸载</button>' + install[i]["name"] + '</div>';
                            else
                                html += '<div class="item"><button class="right floated ui button" onclick="InstallClick(this,'+i+')">卸载</button>' + install[i]["name"] + '</div>';
                            i++;
                        }
                        $('#installed').html(html);
                        $("#pagination1").pagination({
                            currentPage: 1,
                            totalPage: totalpage,
                            callback: function (current) {
                                let i = (current - 1) * 5;
                                let html = '';
                                while (i < total && i < current * 5) {
                                    if (!install[i].hasOwnProperty("status"))
                                        html += '<div class="item"><button class="right floated ui disabled button">不可卸载</button>' + install[i]["name"] + '</div>';
                                    else
                                        html += '<div class="item"><button class="right floated ui button" onclick="InstallClick(this,'+i+')">卸载</button>' + install[i]["name"] + '</div>';
                                    i++;
                                }
                                $('#installed').html(html);
                                $("#current1").text(current);
                            }
                        });

                        /*模块安装部分*/
                        all = allmodules.length;
                        i = 0;
                        let htm = '';
                        while (i < all && i < 5) {
                            if (!allmodules[i].hasOwnProperty("status"))
                                htm += '<div class="item"><button class="right floated disabled ui button">不可卸载</button><div class="right floated ui disabled button">已安装</div>' + allmodules[i]["name"] + '</div>';
                            else {
                                if (allmodules[i]["status"] === "installed")
                                    htm += '<div class="item"><button class="right floated ui button"  onclick="AllunClick(this,'+i+')">卸载</button><button class="right floated ui disabled button">已安装</button>' + allmodules[i]["name"] + '</div>';
                                else
                                    htm += '<div class="item"><button class="right floated ui button"  onclick="AllinClick(this,'+i+')">安装</button><button class="right floated ui disabled button">未安装</button>' + allmodules[i]["name"] + '</div>';
                            }
                            i++;
                        }
                        $('#allmodule').html(htm);
                        $("#pagination4").pagination({
                            currentPage: 1,
                            totalPage: Math.ceil(all / 5),
                            callback: function (current) {
                                let i = (current - 1) * 5;
                                let htm = '';
                                while (i < all && i < current * 5) {
                                    if (!allmodules[i].hasOwnProperty("status"))
                                htm += '<div class="item"><button class="right floated disabled ui button">不可卸载</button><div class="right floated ui disabled button">已安装</div>' + allmodules[i]["name"] + '</div>';
                            else {
                                if (allmodules[i]["status"] === "installed")
                                    htm += '<div class="item"><button class="right floated ui button"  onclick="AllunClick(this,'+i+')">卸载</button><button class="right floated ui disabled button">已安装</button>' + allmodules[i]["name"] + '</div>';
                                else
                                    htm += '<div class="item"><button class="right floated ui button"  onclick="AllinClick(this,'+i+')">安装</button><button class="right floated ui disabled button">未安装</button>' + allmodules[i]["name"] + '</div>';
                            }
                            i++;
                                }
                                $('#allmodule').html(htm);
                                $("#current4").text(current)
                            }
                        });

                    },
                    complete: function () {
                        console.log("complete");
                    }
                }
            );


        });
    </script>
{% endblock %}
{% block MainContainer %}
    <div class="content cf">
        <div class="grid-1 cf">
            <h1>模块管理</h1>
            <p><strong>您可以在此安装卸载Apache服务器的模块</strong></p>
        </div>
        <li class="gallery">
            <ul id="portfolio-one">
                <li class="development design">
                    <h2 class="ui center aligned icon header">
                        <i class="mini settings icon"></i>
                        模块管理
                    </h2>
                </li>

                <li class="development photography">
                    <h2 class="ui center aligned header">已安装模块</h2>
                    <div class="ui middle aligned celled list" id="installed"></div>
                    <div class="item">
                        <div id="pagination1" class="page fl"></div>
                        <div class="info fl">
                            <p>当前页数：<span id="current1">1</span></p>
                        </div>
                    </div>
                </li>

                <li class="photography design">
                    <h2 class="ui center aligned header">模块安装</h2>
                    <div class="ui middle aligned celled list" id="allmodule"></div>
                    <div class="item">
                        <div id="pagination4" class="page fl"></div>
                        <div class="info fl">
                            <p>当前页数：<span id="current4">1</span></p>
                        </div>
                    </div>

                </li>
            </ul>

    </div>
    </div><!-- end content -->
{% endblock %}
