{% extends 'base.html' %}
{% block title %}
    模块管理
{% endblock %}
{% block MainContainer %}
    <div class="content cf">
        <div class="grid-1 cf">
            <h1>模块管理</h1>
            <p><strong>您可以在此安装卸载Apache服务器的模块</strong></p>
        </div>
        <div class="gallery">
            <ul id="portfolio-one">
                <li class="development design">
                    <h2 class="ui center aligned icon header">
                        <i class="mini settings icon"></i>
                        模块管理
                    </h2>
                </li>

                <li class="development photography">
                    <div class="ui celled list">
                        <div class="item">
                            <div class="content">

                                An excellent companion
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Poodle</div>
                                A poodle, its pretty basic
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Paulo</div>
                                He's also a dog
                            </div>
                        </div>
                    </div>
                </li>

                <li class="photography design">
                    <h2>查看性能参数</h2>

                    <div class="project-desc">
                        <strong>放置Apache性能相关参数（可能是图表为主）</strong>
                        <p>施工中。。。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- end grid-1 -->
{% endblock %}







